body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3f0c0c;
}

ul { 
    list-style: none; 
    padding-left: 5px; 
}

a { 
    color: #3f0c0c;
    text-decoration: none;
}

figure {
    text-align: center;
    padding: 0;
    margin: 0;
}

figcaption {
    font-style: italic;
    font-size: 12px;
}

footer {
    text-align: center;
}

main {
    padding: 0;
    margin: 0;
}

.bar {
    background-color: #f9f9fb;
    padding: 15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}

.content {
    max-width: 1800px;
    margin: auto;
    padding: 15px;
    margin: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,20rem);
}

.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}

.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}

.sidebar {
    border-right: solid 1px #cdcdcd;
}

.anchors ul li a,
.sidebar ul li a{
    padding: 5px;
    text-decoration: none;
    color: #3f0c0c;
}

.list-editor {
    list-style: circle;
    padding-left: 50px;
}

.banner {
    width: 500px;
}

.gallery-herois {
    background-color: #f0e0d7;
    border: 5 solid #000000;
    border-radius: 10px;
    padding: 15px;
    flex-basis: 150px;
    max-height: 200px;
}

.gallery-herois img {
    max-width: 150px;
    max-height: 150px;
    align-items: center;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}